.btn{
    width: 200px;
    height: 45px;
    border: none;
    background-color: #8276FF;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: 700;
}
.btn:hover{
    border: 3px solid #1d82cf;
}
@media screen and (max-width: 900px) {
    .btn{
        width: 130px;
        height: 30px;
        font-size: 10px;
    }
   }