.end{
    width: 100%;
    min-height: 300px;
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.end1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end1>p{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}
.endImg{
    height: 100%;
}
.endImg>img{
    height: 100%;
    width: 800px;
}
@media screen and (max-width: 900px) {
    .end{
        flex-direction: column;
        width: 100%;
    }
    .end1>p{
        text-align: center;
    }
  }