.ciberMonday{
    margin-top: 50px;
}
.title {
    width: 50%;
}
.cyber{
    color: white;
    font-size: 50px;
}
.cyber>span{
    color: #FFC759;
    font-family: 'Abril Fatface', cursive;        
}
.text2 {
    color: white;
    width: 240px;
    line-height: 24.5px;
    font-size: 14px;
    margin-top: 30px;
}
.ciberMondayButton{
    margin-top: 40px;
}

.text3{
    margin-top: 30px;
    display: flex;
    align-items: center;

}
.text3>p{
    color: white;
    margin-left: 10px;
    font-size: 13px;
}
.text4{
    margin-top: 60px;
    display: flex;
    align-items: center;
    color: white;
}
.text4>p{
    font-size: 15px;
    margin-left: 10px;
}
.text5{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 380px;
    justify-content: space-between;
}
.ciberMonday{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.ciberMondayIMg{
    width: 50%;
}

@media screen and (max-width: 900px) {
    .title{
        width: 100%;
        text-align: center;
    }
    .ciberMondayIMg{
        width: 100%;
        display: contents;

    }
    .ciberMonday{
        flex-direction: column;
    }
    .ciberMondayIMg>img{
        width: 80%;
    }
    .text5{
        flex-direction: column;
    }
    .text3{
        justify-content: center;
    }
    .text2{
        margin: auto;
    }
  }