.trusted{
    margin-top: 200px;
}
.trusted>p{
    width: 100%;
    font-size: 25px;
    text-align: center;
}
.trustedDiv{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trustedDiv>div{
    margin-top: 20px;
}