.cards{
   display: flex;
   justify-content: center;
   align-items: center;

}

.cards>img{
    margin-left:-50px;
}
.center {
    z-index: 10;
}

@media screen and (max-width: 1000px) {
   .cards{
       width: 100%;
       overflow-x: scroll;
       scroll-snap-align: center;
       margin-bottom: 400px;
   }
  }