.card{
    display: flex;
    width: 380px;
    height: 430px;
    border:1px solid #8D9FF44D;
    background: rgba(255, 255, 255, 0.1);
    background: linear-gradient(#8D9FF44D, 70%, #FFFFFF1A);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    position: relative;
}
.outline{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 220px;
    top: -90px;
    border-radius: 50%;
}

.outline>div{
    position: absolute;
    text-align:center;
}
.procent{
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
}
.info{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.infoMonthly{
    font-size: 39px;
    margin-bottom: 20px;
    color: #FFFFFFDB;
}
.infoprice{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}
.per {
    font-size: 20px;
    color: #FFFFFF;
}
.day{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.day>p{
    width: 120px;
}
.btndiv{
    margin-top: 30px;
}
.duration{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    width: 90%;
    margin-top: 10px;
}
.oldPrice{
    position: absolute;
    left: 20px;
    font-size: 30px;
}
.oldPriceDiv{
    position: relative;
}
.line{
    position: absolute;
    width: 3px;
    height: 90px;
    background: #F354B4;
    left: 0;
    right: 0;
    top: -25px;
    margin: auto;
    transform:rotate(75deg)
}
.pracent{
    font-size: 35px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .card{
        width: 240px;
    }
    .infoMonthly{
        font-size: 20px;
    }
    .infoprice{
        font-size: 30px;
    }
    .per {
        font-size: 10px;
    }
    .oldPrice{
        font-size: 15px;
    }
    .line{
        height: 40px;
        top: -10px;
        width: 1.5px;
    }
    .outline{
        top: -50px;
        left: 190px;
    }
    .outline>img {
     width: 100px;
     height: 100px;
    }
    .procent{
        font-size: 15px;
    }
    .procentp{
        font-size: 13px;
    }
   }