.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLogo>img{
    width: 110px;
}
.navbarButton>button {
    width: 150px;
    height: 33px;
    background-color: #1E1E1E;
    border: 1px solid #8276FF;
    color: white;
    border-radius: 20px;
}
.navbarButton>button:hover{
    border: 2px solid #1d82cf;
}

@media screen and (max-width: 900px) {
    .navbarButton>button{
        width: 130px;
    }
  }