.CardComponent{

}
.CardComponentText {
    text-align: center;
    font-size: 25px;
}
.cardDiv{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
@media screen and (max-width: 900px) {
    .cardDiv{
        flex-direction: column;
        align-items: center;
    }
    .cardDiv>div{
        margin-top: 80px;
    }
  }