body{
  background-color: black;

}
.App {
  width: 100%;
  height: 100%;
}
p{
  margin: 0;
  color: white;
}

.main {
  width: 80%;
  margin: auto;
}
 

@media screen and (max-width: 900px) {
 .main {
   width: 95%;
 }
}