.SaveBig{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.SaveBigText{
    text-align: center;
    font-size: 30px;
}
.SaveBigText2{
    color: #FFC759;
}
.table{
    width: 100%;
    min-height: 700px;
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    border-radius: 26px;
    margin-top: 80px;
    padding: 80px;
    box-sizing: border-box;
}
.tableIconeDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tableIcone{
    margin-top: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tableIcone>p{
    margin-top: 15px;
    width: 130px;
    text-align: center;
    font-size: 15px;
}
.tableIcone>img{
    width: 40px;
    height: 40px;
}
.SaveBigLine{
    margin-top: 40px;
    width: 100%;
    height: 1.5px;
    background-color: #E7E9F2;
    border-radius: 3px;
    position: relative;
}
.SaveBigLine2{
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    width: 110px;
    height: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}
.SaveBigInfo{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.SaveBigInfoText{
    width: 53%;
}
.SaveBigInfoImg{
    width: 47%;
}
.SaveBigInfoText>p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 52px;
}
.SaveBigInfovector{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
}
.SaveBigInfovector>p{
    padding-left: 10px;
}

.SaveBigInfoButton{
    margin-top: 40px;
}
@media screen and (max-width: 1200px) {
    .SaveBigInfo{
        flex-direction: column;
    }
    .SaveBigInfoImg{
        width: 100%;
    }
    .SaveBigInfoText{
        width: 100%;
        text-align: center;
    }
    .SaveBigInfoImg>img{
        width: 100%;
    }
    .tableIconeDiv{
        justify-content: center;
    }
    .SaveBigInfovector{
        justify-content: center;
    }
   }